.term-details-ctrl-btn {
	border-radius: 4px;
}
/*
.term-details-ctrl-toolbar {
	display: inline-block;
}
*/
.term-details-ctrl-toolbar>.term-details-ctrl-btn:last-child:not(:first-child) {
	margin-left: 5px;
}

/*
.details-col {
	display: inline-block;
	margin: 0 0 0 5px ;
	vertical-align: top;
}

.details-group {
	min-height: 200px;
	width: 300px;
	margin: 0 0 5px 0;
}
*/
/*.details-group.editing {
	border: 1px solid gray;
}

.details-group ul {
	margin: 0 0 0 5px;
}
*/
/*.details-group li {
	height: 30px;
	overflow: hidden;
	margin-top: 1px;
	list-style-type: none;
}
*/
#termLabel {
	display: block;
}

#termLabel.hide {
	display: none;
}

.label-edit {
	display: block;
}

.label-edit.hide {
	display: none;
}

.edit-button {
	display: inline;
}

.edit-button.hide {
	display: none;
}

.cancel-edits {
	display: inline;
}

.cancel-edits.hide {
	display: none;
}

.remove-data-button {
	display: inline;
}

.remove-data-button.hide {
	display: none;
}

.details-footer {
	display: block;
}

.details-footer.hide {
	display: none;
}

.panel > .list-group {
	margin-bottom: 0;
}

.panel > .list-group .list-group-item {
	border-width: 1px 0;
}

.panel > .list-group .list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.panel > .list-group .list-group-item:last-child {
	border-bottom: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
	border-top-width: 0;
}

