.details-col {
	display: inline-block;
	margin: 0 0 0 5px ;
	vertical-align: top;
}

.details-group {
	min-height: 200px;
	width: 300px;
	margin: 0 0 5px 0;
}

.details-group.editing {
	border: 1px solid gray;
}

.details-group ul {
	margin: 0 0 0 5px;
}

.details-group li {
	height: 30px;
	overflow: hidden;
	margin-top: 1px;
	list-style-type: none;
}

.label-edit {
	display: block;
}

.label-edit.hide {
	display: none;
} 

.edit-mode {
	margin: 0 50% 0 0;
}

.edit-button {
	display: inline;
}

.edit-button.hide {
	display: none;
}

.cancel-edits {
	display: inline;
}

.cancel-edits.hide {
	display: none;
}

.details-footer {
	display: block;
}

.details-footer.hide {
	display: none;
}