.edit-ctrl {
	display: table;
}

.edit-row {
	display: table-row;
}

.edit-cell {
	display: table-cell;
}

.edit-group {
	border: solid 3px gray;
}

.edit-group h4 {
	display: table-header;
	border-bottom: solid 3px gray;
}

.edit-group li {
	height: 60px;
	width: 300px;
	overflow: hidden;
	border: solid 1px gray;
	margin-top: 1px;
	list-style-type: none;
}