/*
 * spa.chat.css
 * Chat feature styles
*/

/*.search-results-list {
	margin-top: 10px;
	height: 380px;
	border: solid 3px gray;
	border-radius: 5px;
	padding: 5px 0;
}*/

.search {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-ctrl {
  width: 80%;
  padding: 10px 15px;
}

.search-ctrl > .btn {
  margin-left: 5px;
}

.search-input {
  height: 34px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 60%;
}

.search-results {
  padding: 15px;
  width: 650px;
  margin: auto;
}

.search-results-col {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}

.search-results-item {
	height: 60px;
	width: 300px;
	overflow: hidden;
	margin-top: 3px;
}
.search-results-item-label {
	margin: 5px;
	width: 190px;
	display: inline-block;
}

.search-results-item-details.hide {
	display: none
}

.search-result-btn {
	margin-top: 0.8em;
}
