{% extends "base.html" %}
{% block body %}
<a href="{{ url_for( 'main' ) }}">&lt;&lt; Back</a>
<div class="top-accordion">
	<h3>Terms</h3>
	<div>
		<table>
			<thead>
				<tr>
					<td>Term</td>
					<td><button class='term-fac-sort' data-order='asc'>Faculty</button></td>
					<td><button class='term-dept-sort' data-order='asc'>Depts</button></td>
				</tr>
			</thead>
			<tbody class="term-sort-list">
			{% for row in data.terms %}
				<tr data-term-fac-cnt="{{ row.fac_count }}" data-term-dept-cnt="{{row.dept_count }}">
					<td><a href="{{ url_for( 'term_details', term_id=row.term_id) }}">{{ row.term_label }}</a></td>
					<td>{{ row.fac_count }}</td>
					<td>{{ row.dept_count }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function(){
	    $(function(){
	        $(".top-accordion").accordion({
	            header: 'h3',
	            heightStyle: 'content',
	            collapsible: true
	        });
	    });
	 });

	function sortCount(arg, sel, elem, order, float=false) {
	    var $selector = $(sel),
	        $element = $selector.children(elem);

	    $element.sort(function(a, b) {
	    	if (float) {
	    		var an = parseFloat(a.getAttribute(arg)),
	        	bn = parseFloat(b.getAttribute(arg));
	    	} else {
		        var an = parseInt(a.getAttribute(arg)),
		        bn = parseInt(b.getAttribute(arg));
		    }

	        if (order == 'asc') {
	            if (an > bn)
	                return 1;
	            if (an < bn)
	                return -1;
	        } else if (order == 'desc') {
	            if (an < bn)
	                return 1;
	            if (an > bn)
	                return -1;
	        }
	        return 0;
	    });

	    $element.detach().appendTo($selector);
	}

	$(document).on('click', '.term-fac-sort', function() {
		var order = $(this).attr('data-order');
	    sortCount('data-term-fac-cnt', '.term-sort-list', 'tr', order);
	    $(this).attr('data-order', order === 'asc' ? 'desc' : 'asc');
	});
	$(document).on('click', '.term-dept-sort', function() {
		var order = $(this).attr('data-order');
	    sortCount('data-term-dept-cnt', '.term-sort-list', 'tr', order);
	    $(this).attr('data-order', order === 'asc' ? 'desc' : 'asc');
	});
</script>
{% endblock %}
