{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vocab.dashboard.css') }}">
{% endblock %}
{% block body %}
<a href="{{ url_for( 'main' ) }}">&lt;&lt; Back</a>
<h2>{{ data.label }}</h2>
<p># of faculty using term: {{ data.count }}</p>
<div class="term-details-box">
	<div class="term-details-col term-details-cousins">
	<h3>Component terms</h3>
		{% for cuz in data.cousins %}
			<h4>{{ cuz.particle }}</h4>
			<ul>
				{% for row in cuz.rows %}
					<li>
						<a href="{{ url_for('term_details', term_id=row.term_id) }}">
							{{ row.term_label }}
						</a>
						<span class="badge">{{ row.count }}</span>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	<div class="term-details-col term-details-siblings">
		<h3>Major Particles</h3>
		<ul>
			{% for particle in data.major %}
			<li><a href="{{ url_for('particle_details', particle=particle) }}">{{ particle }}</a></li>
			{% endfor %}
		</ul>
		<h3>Minor Particles</h3>
		<ul>
			{% for particle in data.minor %}
			<li><a href="{{ url_for('particle_details', particle=particle) }}">{{ particle }}</a></li>
			{% endfor %}
		</ul>
		<h3>Term usage by department</h3>
		{% for sib in data.siblings %}			
			<h4>{{ sib.dept }}</h4>
			<p>Faculty using term:</p>
			<ul>
				{% for fac in sib.faculty %}
				<li><a href="{{ url_for('faculty_details', fac_id=fac.fac_id) }}">{{ fac.fac_label }}</a></li>
				{% endfor %}
			</ul>
			<p>Other terms for faculty:</p>
			<ul>
				{% for row in sib.rows %}
					<li>
						<a href="{{ url_for('term_details', term_id=row.term_id) }}">
							{{ row.term_label }}
						</a>
						<span class="badge">{{ row.count }}</span>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
</div>
{% endblock %}