{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vocab.dashboard.css') }}">
{% endblock %}
{% block body %}
<a href="{{ url_for( 'main' ) }}">&lt;&lt; Back</a>
<h3>{{ data.label }}</h3>
<div class="term-details-box">
	<div class="term-details-col term-details-cousins">
		{% for cuz in data.cousins %}
			<h4>{{ cuz.particle }}</h4>
			<ul>
				{% for row in cuz.rows %}
					<li>
						<a href="{{ url_for('term_details', term_id=row.term_id) }}">
							{{ row.term_label }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	<div class="term-details-col term-details-siblings">
		<h4>Relatives</h4>
		<ul>
		{% for row in data.steps %}
			<li>
				<a href="{{ url_for('term_details', term_id=row.term_id) }}">
					{{ row.term_label }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}